a
{
    color: #22BCE0;
}

body
{
    background: #EEEEEE;
    font-family: Arial;
    font-size: 16px;
}

header
{
    background: #343B54;
    color: white;
    padding: 0.5em;
    overflow: hidden;
    position: relative;
}

header figure
{
    float: left;
    margin: 0.5em;
}
header h1
{
    margin: 0;
    font-size: 1.2em;
    font-weight: normal;
    margin: 0.3em 70px 0 0;
}

header #logo img
{
    width: 52px;
    border-right: 1px solid white;
    padding-right: 0.5em;
}

header #avatar
{
    margin: 0.5em 0.5em 0 0;
    position:absolute;
    top:0;
    right:0;
}

header #avatar img
{
    width: 55px;
    border-radius: 50px;
}

nav
{
    background: #80BCA3;
    padding: 0 0.5em;
    position: relative;
}

nav ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li
{
    display: inline-block;
    margin: 0 1em 0 0;
}

nav ul li a
{
    color: white;
    display: block;
    padding: 0.5em 0;
    text-decoration: none;
}

nav ul li#publicar-nav
{
    position: absolute;
    top: -0.4em;
    right: 0;

}

nav ul li#publicar-nav a
{
    background: #22BCE0;
    padding: 0.8em;
    border-radius: 0.3em;
    text-decoration: none;
    font-style: italic;
    text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 5px;
    box-shadow:  rgba(0, 0, 0, 0.5) 5px 5px 20px;
}

footer
{
    background: #22BCE0;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    padding: 1em;
}

footer p:first-child
{
    margin-bottom: 0;
}

footer p:last-child
{
    margin-top: 0;
}

footer p:last-child:before
{
    content: "- ";
}

footer p:last-child:after
{
    content: " -";
}

#contenido
{
    margin: 1em;
}

#contenido figure
{
    margin: 0;
}
#contenido .item
{
    background: white;
    border-bottom: 3px solid #22BCE0;
    margin-bottom: 2em;
    min-height: 128px;
    position: relative;
    margin-bottom: 3em;
}

#contenido .item .autor-item
{
    color: #BBB;
}

#contenido .item .datos-item
{
    margin: 1em 1em 0 0;
    text-align: right;
}

#contenido .item .datos-item a.tag-item
{
    background: #F4502A;
    border-radius: 0.5em;
    color: white;
    float: left;
    display: inline-block;
    padding: 0.2em 0.5em;
    text-decoration: none;
}

#contenido .item .datos-item .fecha-item
{
    color: #BBB;
}

#contenido .item .article-img
{
    float: left;

    margin: 0 0.5em 0 0;
}
#contenido .item .article-img img
{
    width: 96px;
}

#contenido .item .article-title
{
    font-size: 1.2em;
    font-style: italic;
    padding: 1em 1em 0 0;
}
#contenido .item .article-title a
{
    text-decoration: none;
    color: #444;
}

#contenido .item .votacion-item
{
    background: white;
    border-radius: 0 0 5px 5px;
    left: 5%;
    margin-top: 3px;
    padding: 0.2em 0.5em;
    position: absolute;
    top: 100%;
    width: 90%;
}

#contenido .item .votacion-item .comentarios-item,
#contenido .item .votacion-item .guardar-item
{
    float: right;
}
